<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
</head>
<body>
    <h1>
        Disciplinas da Licenciatura em Informática
    </h1>
    <li>
    <a href="/primeiro">Primeiro periodo</a>
    </li>
    <li>
    <a href="/segundo">Segundo periodo</a>
    </li> 
    <li>
    <a href="/terceiro">Terceiro periodo</a>
    </li> 
    <li>
    <a href="/quarto">Quarto periodo</a>
    </li> 
</body>
</html>