<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Segundo Período</title>
    <style>
        li {
            list-style-type: none;
        }
        li::before {
            content: "\2605 ";
        }
    </style>
</head>
<body>

<h1>Disciplinas do 2º Período:</h1>
<ul>
    <li>Lógica e Matemática Discreta;</li>
    <li>Fundamentos da Educação II;</li>
    <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente II;</li>
    <li>Filosofia da Ment;e</li>
    <li>Psicologia da Aprendizagem;</li>
    <li>Fundamentos e Técnicas de Programação.</li>
</ul>
<a href="/">Voltar à pagina inicial</a>

</body>
</html>