<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terceiro Período</title>
    <style>
        li {
            list-style-type: none;
        }
        li::before {
            content: "\2605 "; 
        }
    </style>
</head>
<body>

<h1>Disciplinas do 3º Período:</h1>
<ul>
    <li>Inglês Instrumental;</li>
    <li>Programação Orientada a Objetos;</li>
    <li>Didática;</li>
    <li>Probabilidade e Estatística;</li>
    <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente II;I</li>
    <li>Robótica Educacional.</li>
</ul>
<a href="/">Voltar à pagina inicial</a>

</html>